<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        <div class="panel panel-heading">

    <div>
        @RenderBody()
    </div>
</body>
</html>
